@charset "utf-8";

#home {position: relative; overflow: hidden; width: 100%; height: 100%; padding: 100px;}
#home .greeting {float: left; position: relative; box-sizing: border-box; box-shadow: 10px 17px 35px 0px rgba(156, 138, 138, 0.2); width: 60%; padding: 100px; padding: 5.2vw; background: #fff url(/images/favicon.png) right 50px top 50px / 30px 30px no-repeat;}
#home .greeting:after {display: block; content: ''; position: absolute; bottom: -200px; left: -100px; z-index: -1; width: 1150px; width: 75vw; height: 750px; height: 39vw; background: #d4cbbd;}
#home .greeting .head {font-weight: 300; font-size: 50px; font-size: 2.6vw; color: #000; text-align: left;}
#home .greeting .body {margin: 50px 0 0;}
#home .greeting .body ul {overflow: hidden;}
#home .greeting .body ul li {float: left; position: relative; margin: 0 0 0 30px; font-family: Roboto; font-weight: 700; font-size: 26px; font-size: 1.3541vw; color: #000; text-align: left;}
#home .greeting .body ul li:before {display: block; content: '/'; position: absolute; top: -2px; left: -20px; font-family: NotoSans; font-weight: 300; color: #000;}
#home .greeting .body ul li:first-child {margin-left: 0;}
#home .greeting .body .desc {margin: 20px 0 0; font-weight: 300; font-size: 50px; font-size: 2.6vw; color: #000; text-align: left;}

#home .img {float: right; position: relative; width: 500px; max-width: 35%; height: auto; margin: 0 0 0 5%;}
#home .img img {box-shadow: 10px 17px 35px 0px rgba(156, 138, 138, 0.2); width: 100%;}

#home .btn-go {position: absolute; right: 35%; bottom: 0;}

@media (max-width: 1080px) {
    #home {overflow: visible; padding: 50px 50px 200px 50px; padding: 4.6vw 4.6vw 18.5185vw 4.6vw;}
    #home .greeting {float: none; width: 100%; padding: 100px 50px 200px 50px; padding: 9.2vw 4.6vw 18.5185vw 4.6vw; background-position: right 50px top 100px;}
    #home .greeting:after {width: 800px; width: 74vw; height: 800px; height: 74vw;}
    #home .greeting .head {font-size: 30px;}
    #home .greeting .body ul li {font-size: 24px;}
    #home .greeting .body .desc {font-size: 30px;}
    #home .img {float: none; width: 100%; max-width: none; margin: -20% 0 0; text-align: right;}
    #home .img img {width: 50%;}
    #home .btn-go {bottom: 50px;}
}